.portifolio {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display: flex;

  &__user-info {
    background-color: #333;
    flex: 0 0 35%; //don't grow - don't shrink - starts with 35% of available space
  }

  &__user-history {
    padding: 75px 60px 60px 60px;
    background-color: #fff;
    flex: 1; //fill all space available
  }

  @keyframes opacityAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .user-presentation {
    animation: opacityAnimation .8s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 1.2rem;
    padding: 3rem;

    //outline around the photo
    &__photo-container {
      margin-top: 1rem;
      margin-bottom: 3rem;
      width: 200px;
      height: 200px;
      overflow: hidden;
      transform: rotate(45deg); //rotate the div with the outline
      outline: solid;
      outline-offset: -25px; //distance between the photo and the outline
      outline-color: #cfcfcf;
      outline-width: thin;
    }
    &__photo-container::before {
      content: "";
      width: 200px;
      height: 200px;
      position: absolute;
      background-image: url("../../assets/img/avatar-dev.png");
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(-45deg); //rotate the photo to original position
      clip-path: polygon(
        50% 0%,
        100% 50%,
        50% 100%,
        0% 50%
      ); //mask in the same format of the outline
    }

    &__name {
      text-transform: uppercase;
      color: #fefefe;
      font-size: 4rem;
      letter-spacing: 0.6rem;
      font-weight: 600;
      word-spacing: 100vw;
      text-align: center;
    }

    &__profession {
      position: relative;
      text-transform: uppercase;
      color: #d4d4d4;
      font-size: 1rem;
      font-weight: 100;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.1em solid #fff; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 1.2rem auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.2em; /* Adjust as needed */
      animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
    }


    //TODO: media queries to change witdh
    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 40%;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: #fff;
      }
    }
  }

  .line-separation {
    margin-left: 1.2rem;
    height: 1px;
    color: #bebebe;
    background-color: #bebebe;
    border:  none;
  }
}
