.portifolio {
  background-color: red;
  height: 100vh;
  display: flex;

  &__user-info {
    background-color: #333;
    flex: 0 0 25%;
  }

  &__user-history {
    background-color: #fff;
    flex: 0 0 75%;
  }
}
