.user-skills {
  text-align: center;

  &__skill-content {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
  &__skill-title {
      margin-bottom: 1rem;
      text-transform: uppercase;
      color: #fcfcfc;
      letter-spacing: 0.2rem;
      font-size: 0.95rem;
  }
  &__skill-chart {
    border: 1px solid #fcfcfc;
    width: 20rem;
    height: 20px;
  }
}
