@import "./mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    @supports (scroll-behavior: smooth) {
      scroll-behavior: smooth;
    }
    
    //This defines what 1rem is
    font-size: 100%;
    font-family: 'Maven Pro', sans-serif;

    @include respond(tab-land) {
        font-size: 75%;
    }
    
    @include respond(tab-port) {
        font-size: 60%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}
